#
node_modules

# reminders and other personal stuff
build.md
_test

# # ignore out and bin folder
# docs/*/code/out
# docs/*/*/code/out
# docs/*/code/bin
# docs/*/*/code/bin
# docs/*/code/docs
# docs/*/*/code/docs


# trying to fix upload to server
docs/*/code/bin/
docs/*/code/docs/
